/*  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* <weight>: Use a value from 200 to 1000
 <uniquifier>: Use a unique and descriptive class name

https://fonts.google.com/specimen/Nunito

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
    --color1: #470A68;
    --color2: oklch(91.291% 0.04833 309.687);
    --color3: #8246af;
    --color4: lab(94.66% 4.81 -4.83);
    /* --color4: #ddd5e4; */
    --color5: #e5e1e6;
    --color6: hsl(303, 81%, 41%);
}

/* ---------- RESET ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.botonDeCategoria {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    border-radius: 5px;
}


/* ---------- FIN RESET ----------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;

}



.synthworldLogo {
    width: 130px;
}



.barraTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color4);
    width: 100%;
}

.menuLogin {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menuCarrito {
    display: flex;
    align-items: center;
}

.cantidadItemsAgregados {
    padding: 0.25rem;
    background-color: whitesmoke;
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
}

.header_navbar {
    width: 100%;
    background-color: var(--color2);
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    font-size: 1.1rem;

}

.iconoFormato {
    width: 30px;
}

.active{
    /* background-color: var(--color3); */
    transition: box-shadow 0.2s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* background-color: #6aff00; */
}

/* .active:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
} */





main {
    background-color: var(--color5);
    padding: 1rem;
}

.tituloMain {
    padding: 2rem 2rem 2rem 0;
}

.contenedorDeProductos {
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); ---------------------TEMPLATE COLUMN*/
    /* grid-template-rows: repeat(4, 1fr); */

    display: flex;
    flex-direction: column;
    gap: 30px;


}

.item {

display: grid;
grid-template-columns: 1fr 2fr 1fr;
gap: 10px;
border: transparent 0px;
border-radius: 10px;
align-items: center;
justify-content: center;
background-color: var(--color4)





    /* display: flex;
    align-items: center;
    padding-bottom: 15px; */
}


.itemImagen {
    width: 300px;
    /* max-width: 100%; --------------------------------USAR CON TEMPLATE-COLLUMN*/
}


.itemInfo {
    padding-left: 20px;
    max-width: 50%;
    font-size: 1.2rem;
}


/* .itemSubMenu{
    padding-left: 15px;
} */

.itemTitulo {
    font-size: 1.5rem;
}

.itemPrecio {
    font-size: 1.5rem;
}

.itemAgregar {
    /* border: 0; */
    border: 3px solid var(--color6);
    border-radius: 0.5rem;
    background-color: var(--color6);
    color: var(--color5);
    padding: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.itemAgregar:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}




footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color4);
    color: var(--color1);
    font-weight: bold;
    height: 8vh;
    width: 100%;

}

.footerContenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.footerTexto {
    font-size: 1.3rem;
}

/* ---------------- CARRITO ------------------ */


/* .carritoVacio,
.carritoCompra{
     display: none;
}  */

.carritoVacioMensaje {
    display: flex;
    height: 43vh;
}

.contenedorDeCarrito {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carritoItems {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 15px; */

    gap: 1rem;

}

.carritoItem {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;

}

.carritoItemImagen {
    width: 200px;
    /* margin-top: 15px;
    margin-left: 15px; */
}

.carritoItemSmall {
    font-size: 0.8rem;
    font-weight: bold;
}

.iconoTrashFormato {
    width: 30px;
}

.carritoItemEliminar {
    border: 0;
    /* border: 3px solid var(--color6); */
    border-radius: 0.5rem;
    /* background-color: var(--color5); */
    background-color: transparent;
    /* color: var(--color5); */
    padding: 0.3rem;
    font-size: 1.5rem;

    cursor: pointer;
}

.carritoMenuBottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.carritoMenuBottomVaciar {
    /* border: 0; */
    border: 3px solid rgb(253, 97, 97);
    border-radius: 0.5rem;
    background-color: #fdabab;
    color: var(--color1);
    padding: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.carritoMenuBottomVaciar:hover {
    box-shadow: 0 0 10px #fa0303;
}


.carritoMenuBottomTotalTitulo {
    font-size: 1.8rem;
}

.carritoMenuBottomTotal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.carritoMenuBottomFinalizar {
    border: 3px solid #6aff00;
    border-radius: 0.5rem;
    background-color: #d5fac4;
    color: var(--color1);
    padding: 0.3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.carritoMenuBottomFinalizar:hover {
    box-shadow: 0 0 10px #72fa03;
}

.carritoInicio {
    display: none;
}