/*  */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* <weight>: Use a value from 200 to 1000
 <uniquifier>: Use a unique and descriptive class name

https://fonts.google.com/specimen/Nunito

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

:root {
    --color1: #470A68;
    --color2: oklch(91.291% 0.04833 309.687);
    --color3: #8246af;
    --color4: lab(94.66% 4.81 -4.83);
    /* --color4: #ddd5e4; */
    --color5: #e5e1e6;
    --color6: hsl(303, 81%, 41%);
}

/* ---------- RESET ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.botonDeCategoria {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}


/* ---------- FIN RESET ----------*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;

}

.synthworldLogo {
    width: 130px;
}



.barraTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color4);
    width: 100%;
}

.menuLogin {
    display: flex;
    align-items: center;
}

.menuCarrito {
    display: flex;
    align-items: center;
}

.header_navbar {
    width: 100%;
    background-color: var(--color2);
}

.navbar__menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    font-size: 1.1rem;

}

.iconoFormato {
    width: 30px;
}



main {
    background-color: var(--color5);
    padding: 1rem;
}

.tituloMain{
    padding: 2rem 2rem 2rem 0;
}

.contenedorDeProductos{
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); ---------------------TEMPLATE COLUMN*/
    /* grid-template-rows: repeat(4, 1fr); */

    display:flex;
    flex-direction: column;
    
    
}

.item{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}


.itemImagen {
    width: 300px;
    /* max-width: 100%; --------------------------------USAR CON TEMPLATE-COLLUMN*/
}


.itemInfo{
 padding-left: 20px;
 max-width: 50%; 
 font-size: 1.2rem;
}


/* .itemSubMenu{
    padding-left: 15px;
} */

.itemTitulo{
    font-size: 2rem;
}

.itemPrecio{
    font-size: 2rem;
}

.itemAgregar{
border: 0;
background-color: var(--color6);
color: var(--color5);
padding: 0.5rem;
font-size: 1.5rem;
}



footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color4);
    color: var(--color1);
    font-weight: bold;
    height: 8vh;
    width: 100%;

}

.footerContenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.footerTexto {
    font-size: 1.3rem;
}